{% extends "base.html" %}

{% block content %}

<body class="blog-index">

<h1>{{ config.title | safe }}</h1>

<p>Welcome! This is where you can find my most up-to-date writings.</p>

<h2>Sections</h2>
<ul>
  {% set cogito = get_section(path="cogito/_index.md") %}
  {% set ioktikn = get_section(path="ioktikn/_index.md") %}
  <li><a href="{{ cogito.permalink | safe }}">{{ cogito.title }}</a>: a diary</li>
  <li><a href="{{ ioktikn.permalink | safe }}">{{ ioktikn.title }}</a>: a collection of standalone essays and short stories</li>
</ul>

<p>I try to write as much as I can because writing helps me with staying sane and somewhat fulfilled, so if anything resonates with you, I'm glad.</p>

<p>Make RSS cool again (<a href="https://noahie.xyz/what-is-rss">What is this?</a>): the link to my feed is <a href="{{ get_url(path=config.feed_filenames[0]) | safe }}">here</a>.</p>

<div>
  <a href="https://noahie.xyz/">Back to Noahie's Terminal</a>
</div>

</body>
{% endblock content %}

